body {
  font-family: "宋体","STHeiti Light", "Microsoft YaHei", "STXihei", arial, sans-serif;
  font-size: 20;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 100%;
  background-color: #008080;
}








